.dropdown {
  position: relative;
  min-width: 160px;
}


.dropdown-btn {
  padding: 8px 10px;
  border-radius: 6px;
  border: 1px solid #ccc;
  background: white;
  cursor: pointer;
}


.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  max-height: 200px;
  overflow-y: auto;
  background: white;
  border: 1px solid #ccc;
  border-radius: 6px;
  z-index: 1000;
}


.dropdown-item {
  padding: 8px;
  cursor: pointer;
}

.dropdown-item:hover {
  background: #f1f5f9;
}

.dropdown-item.active {
  background: #dbeafe;
}

@media (max-width: 768px) {
  .dropdown {
    width: 100%;
  }
}